body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-image: url(../assets/img/Untitled\ design\ \(22\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; /* Ensure the background image covers the entire area */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative; /* For pseudo-element */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay with 50% transparency */
  z-index: -1; /* Place the overlay below the content */
}

.container {
  background-color: rgba(255, 255, 255, 0.8); /* Transparansi 90% */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 70%;
}

h1 {
  margin-bottom: 25px;
  color: #ff5722;
  font-size: 28px;
}

input[type="text"],
input[type="date"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ff9800;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #ff5722;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e64a19;
}

.footer {
  margin-top: 20px;
  color: #9e9e9e;
  font-size: 14px;
}

.loading {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #ff5722;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading p {
  margin-top: 10px;
  font-size: 16px;
  color: #ff5722;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  color: black
}
